# OS / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Dependencies
node_modules/
.pnpm-store/

# Env & secrets
.env
.env.local
.env.*.local

# Build output
dist/
build/
.next/
out/
.turbo/

# Logs
*.log
